body {


.logo {
display: flex;
align-items: center;
gap: 10px;
margin-bottom: 20px;
}


.logo img {
width: 40px;
height: 40px;
border-radius: 10px;
}


.menu div {
padding: 10px;
border-radius: 10px;
margin-bottom: 8px;
background: darkslateblue
}


.main {
flex: 1;
background: darkslateblue;
border-radius: 14px;
padding: 20px;
}


.top {
display: flex;
gap: 16px;
margin-bottom: 20px;
}


.stat {
background: darkslateblue;
padding: 12px 16px;
border-radius: 12px;
}


.arena h2 {
margin: 0 0 12px;
}


.cards {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 14px;
}


.card {
background:darkslateblue
border-radius: 14px;
padding: 10px;
position: relative;
}


.card img {
width: 100%;
border-radius: 10px;
margin-bottom: 6px;
}


.elixir {
position: absolute;
top: 8px;
right: 8px;
background: aqua;
padding: 4px 6px;
border-radius: 8px;
font-size: 12px;
}
h2{
    text-align: center;
    color: aqua;
}
